@import url('http://fonts.cdnfonts.com/css/sofia-pro');

* {
    font-family: 'Sofia Pro', sans-serif;
    font-size: 102%;
    color: black;
    text-decoration: none;
    
}

body {

    background-image: radial-gradient(circle at 34% 75%, rgba(142, 142, 142,0.06) 0%, rgba(142, 142, 142,0.06) 50%,rgba(11, 11, 11,0.06) 50%, rgba(11, 11, 11,0.06) 100%),radial-gradient(circle at 40% 51%, rgba(12, 12, 12,0.06) 0%, rgba(12, 12, 12,0.06) 50%,rgba(242, 242, 242,0.06) 50%, rgba(242, 242, 242,0.06) 100%),radial-gradient(circle at 50% 87%, rgba(189, 189, 189,0.06) 0%, rgba(189, 189, 189,0.06) 50%,rgba(0, 0, 0,0.06) 50%, rgba(0, 0, 0,0.06) 100%),linear-gradient(90deg, hsl(35,0%,96%),hsl(35,0%,96%));
    
    background-size: cover;
    padding-bottom: 205px;
    background-attachment: fixed;
 
}

a.nav-link {
    color: black;
    
}

a.nav-link:hover{
    color: turquoise;
}

a.navbar-brand {
    color: white;
}

a.navbar-brand:hover {
    color: turquoise;

}

button.navbar-toggler {
    color: white;
}

span.navbar-toggler-icon {
    color: white;
}

a {
    color: turquoise;
    text-decoration: none;
}

a:hover {
    color: turquoise;
    text-decoration: none;

}


a h3:hover {
    color: turquoise;
    text-decoration: none;
    
}

.textstrong {
    color:turquoise;
    font-weight: 600;
}

.textstrong2 {
    color:turquoise;
    font-weight: 500;
}

em {
    font-style: normal;
    font-weight: 500;
}

i:hover {
    color: turquoise;
}

button:hover {
    color: turquoise;
}

a.justlink {
   color: black;
   text-decoration: none;
   font-weight: 500;
   font-size: 80%;

}


a.justlink:hover {
    color: turquoise;
    text-decoration: none;
}

.supersmall {
    font-size: 60%;
    font-weight: 200;
}

a.active{
    color: #40e0d0;
    font-weight: 500;


}

.modalfooterheader {
    background-color:#40e0d0;
}

.modalfooterbody {
    background-color: black;
}


h3.projectstitles {
    font-size: 120%;
    font-weight: 500;

}

p {
    font-size: 90%;
}

.calypsoonly {
    color: turquoise;
    
}

.littlefat {
    font-weight: 550;
}