* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 102%;
    color: white;
    text-decoration: none;
    
}

body {

    background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%)); 
    
    background-size: cover;
    padding-bottom: 205px;
    background-attachment: fixed;
 
}

a.nav-link {
    color: white;
    
}

a.nav-link:hover{
    color: turquoise;
}

a.navbar-brand {
    color: white;
}

a.navbar-brand:hover {
    color: turquoise;

}

button.navbar-toggler {
    color: white;
}

span.navbar-toggler-icon {
    color: white;
}

.nav-link.active {
    color: red;
}


a h3:hover {
    color: turquoise;
    text-decoration: none;
    
}

.textstrong {
    color:turquoise;
}

em {
    font-style: normal;
}

i:hover {
    color: turquoise;
}

button:hover {
    color: turquoise;
}

a.justlink {
    color: white;
   text-decoration: none;
}

a.justlink:hover {
    color: turquoise;
    text-decoration: none;
}

.supersmall {
    font-size: 60%;
    font-weight: 200;
}
