* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 102%;
    color: white;
    background-color: #212121;
    text-decoration: none;
}

a.nav-link {
    color: white;
    
}

a.nav-link:hover{
    color: turquoise;
}

a.navbar-brand {
    color: white;
}

a.navbar-brand:hover {
    color: turquoise;

}

button.navbar-toggler {
    background-color: white;
}

span.navbar-toggler-icon {
    background-color: white;
}



a h3:hover {
    color: turquoise;
    text-decoration: none;
    
}

.textstrong {
    color:turquoise;
}

em {
    font-style: normal;
}

i:hover {
    color: turquoise;
}

button:hover {
    color: turquoise;
}